[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
django-rest-knox = "*"
nltk = "*"
gunicorn = "*"
django-heroku = "*"
django-cors-headers = "*"

[requires]
python_version = "3.7"
